.panda-bg-info{
    background-color: #f1c9d9;
}
.categories img{
    width: 100px;
}
.panda-btn-warning{
    color: white;
    border: none;
    border-radius:8px;
    padding: 9px 25px;
    background-color: violet;
}